* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
}

main {
  display: flex;
  height: 100vh;
}

nav {
  padding: 1rem;
}

.filterInput {
  display: block;
  font: inherit;
  margin-bottom: 1rem;
  padding: 4px;
}

.tagList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tagList .exclude {
  display: none;
}

section {
  flex: 1;
  padding: 1rem;
}

section h1 {
  margin: 0;
}